@model Doi_Project.ViewModel.ResultViewModel
<div><h3 class="m-2">Providers</h3></div>
<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Created Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
        }
        @foreach (var item in Model.Data)
        {
            <tr>

                <td>@(i*Model.Meta.Page)</td>
                <td scope="row">@item.Id*</td>
                <td>@item.Attributes.DisplayName</td>
                <td>@item.Attributes.Created</td>
                <td>
                    <a href="#" id="showClients-btn"> Show Client </a>
                </td>

            </tr>
            <tr class="d-none">
                <td colspan="4">
                    @foreach (var client in item.Relationships.Clients.Data)
                    {

                        <span class="client client" id="" data-id="@client.Id">
                            @client.Id
                        </span>

                    }
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<div>
   
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (long p = 1; p <= Model.Meta.TotalPages; p++)
            {
                <li data-page="@p" class="page-item"><a class="page-link" href="#">@p</a></li>
            }
        </ul>
    </nav>
</div>
